<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kopo.hanaglobal.openBank.repository.MemberRepository">
    <select id="getMemberAll" resultType="com.kopo.hanaglobal.openBank.entity.Member">
        SELECT *
        FROM member
    </select>
    <select id="findMemberById" resultType="com.kopo.hanaglobal.openBank.entity.Member" parameterType="int">
        SELECT user_seq as userSeq, email, id, passwd, name, regist_no as registNo, signup_date as signupDate, country_sp as countrySP, nationality, birth_date as birthDate, gender, contact, ROAD_ADDRESS as roadAddress, JIBUN_ADDRESS as jibunAddress, status
        FROM member where user_seq = #{user_seq}
    </select>

    <select id="findUserSeqByID" resultType="com.kopo.hanaglobal.openBank.entity.Member">
        SELECT user_seq as userSeq
        FROM member where id = #{id}
    </select>

    <select id="getAccountAll" resultType="com.kopo.hanaglobal.openBank.entity.Account">
        SELECT *
        FROM CHECKING_ACCOUNT
    </select>

    <insert id="signUp" parameterType="com.kopo.hanaglobal.openBank.entity.Member">
        INSERT INTO member (user_seq, email, id, passwd, name, regist_no, country_sp, nationality, birth_date, gender, contact, road_address, jibun_address, status)
        VALUES (MEMBER_SEQ.NEXTVAL, #{email}, #{id}, #{passwd}, #{name}, #{registNo}, #{countrySP}, #{nationality}, #{birthDate}, #{gender}, #{contact}, #{roadAddress}, #{jibunAddress}, #{status})
    </insert>


</mapper>
