<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--<mapper namespace="com.kopo.hanaglobal.hana_global.web.repository.MemberRepository">
&lt;!&ndash;<resultMap type="com.kopo.hanaglobal.hana_global.web.entity.Member" id="memberMap">
    <result column="user_seq" property="userSeq" />
    <result column="email" property="email" />
    <result column="passwd" property="passwd" />
    <result column="name" property="name" />
    <result column="regist_no" property="registNo" />
    <result column="signup_date" property="signupDate" />
    <result column="passport_no" property="passportNo" />
    <result column="visa_no" property="visaNo" />
    <result column="country_sp" property="countrySP" />
    <result column="nationality" property="nationality" />
    <result column="birth_date" property="birthDate" />
    <result column="gender" property="gender" />
    <result column="contact" property="contact" />
    <result column="address" property="address" />
    <result column="address2" property="address2" />
    <result column="status" property="status" />
</resultMap>&ndash;&gt;

    <select id="selectMemberAll" resultType="com.kopo.hanaglobal.hana_global.web.entity.Member">
        select * from member
    </select>


</mapper>-->

<mapper namespace="com.kopo.hanaglobal.hana_global.web.repository.AccountRepository">
    <insert id="createNewAccount" parameterType="com.kopo.hanaglobal.hana_global.web.entity.Account">
        INSERT INTO CHECKING_ACCOUNT(AC_NO, AC_NAME, USER_SEQ, AC_PASSWD, STATUS)
        VALUES (#{acNo}, 'Hana Demand', #{userSeq}, #{acPasswd}, #{status})
    </insert>

<!-- 임시 계좌 생성-->
    <insert id="createTemporaryAccount" parameterType="com.kopo.hanaglobal.hana_global.web.entity.Account">
        INSERT INTO CHECKING_ACCOUNT(AC_NO, AC_NAME, USER_SEQ, STATUS)
        VALUES (#{acNo}, #{acName}, #{userSeq}, #{status})
    </insert>

    <select id="findAccountByMemberId" resultType="com.kopo.hanaglobal.hana_global.web.entity.Account"
        parameterType="int">
        SELECT ac_no as acNo, user_seq as userSeq, ac_name as acName, ac_passwd as acPasswd, balance, open_date as openDate, status
        FROM CHECKING_ACCOUNT where user_seq = #{userSeq}
    </select>

    <select id="findAccountByUserSeq" resultType="com.kopo.hanaglobal.hana_global.web.entity.Account"
            parameterType="int">
        SELECT ac_no as acNo, user_seq as userSeq, ac_name as acName, ac_passwd as acPasswd, balance, open_date as openDate, status
        FROM CHECKING_ACCOUNT where user_seq = #{userSeq}
    </select>
    
    <select id="getAccountByAcNo" resultType="com.kopo.hanaglobal.hana_global.web.entity.Account" parameterType="String">
        SELECT ac_no as acNo, user_seq as userSeq, ac_name as acName, ac_passwd as acPasswd, balance, open_date as openDate, status
        FROM CHECKING_ACCOUNT where ac_no = #{acNo}
    </select>
    
    <select id="getTransactionHistoryByAcNo" resultType="com.kopo.hanaglobal.hana_global.web.dto.response.AccountHistoryResponseDTO">
        SELECT ac_no, to_char(trade_date, 'YYYY-MM-DD') as tradeDate, balance, transaction_amount, transaction_type, PARTICIPANT, PARTICIPANT_ACCOUNT
        FROM ACCOUNT_HISTORY where ac_no = #{acNo} order by tradeDate desc
    </select>

    <update id="updateAccountBalance">
        UPDATE CHECKING_ACCOUNT SET balance = #{amount} WHERE ac_no = #{acNo}
    </update>

    <update id="deductAccountBalance">
        UPDATE CHECKING_ACCOUNT SET balance = balance - #{amount} WHERE ac_no = #{acNo}
    </update>

    <insert id="insertAccHistTransaction">
        INSERT INTO ACCOUNT_HISTORY (ACC_HIST_NO, AC_NO, BALANCE, TRANSACTION_AMOUNT, TRANSACTION_TYPE, PARTICIPANT, PARTICIPANT_ACCOUNT)
        VALUES (ACCOUNT_HISTORY_SEQ.NEXTVAL, #{acNo}, #{balance}, #{transactionAmount}, #{transactionType}, #{participant}, #{participantAccount})
    </insert>

    <insert id="insertAccHistByWallet">
        INSERT INTO ACCOUNT_HISTORY (ACC_HIST_NO, AC_NO, BALANCE, TRANSACTION_AMOUNT, TRANSACTION_TYPE, PARTICIPANT, PARTICIPANT_ACCOUNT)
        VALUES (ACCOUNT_HISTORY_SEQ.NEXTVAL, #{acNo}, #{balance}, #{transactionAmount}, #{transactionType}, #{participant}, #{participantAccount})
    </insert>

    <select id="lastTransactionDate" resultType="com.kopo.hanaglobal.hana_global.web.dto.response.AccountHistoryResponseDTO" parameterType="String">
        SELECT TRADE_DATE
        FROM (
        SELECT TRADE_DATE
        FROM ACCOUNT_HISTORY
        WHERE ac_no = #{acNo}
        ORDER BY TRADE_DATE DESC
        ) WHERE ROWNUM &lt;= 1
    </select>

</mapper>
