<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kopo.hanaglobal.hana_global.web.repository.ExchangeRepository">
<!-- 날짜/통화로 환율 조회  -->
    <select id="getExchangeRateHist" resultType="com.kopo.hanaglobal.hana_global.web.dto.response.ExchangeRateHistDTO"
            parameterType="com.kopo.hanaglobal.hana_global.web.dto.request.ExchangeRateHistRequestDTO">
        SELECT currency_code, rate_date, buy_rate, sell_rate, remittance, receiving,
               base_rate, prev_rate, usd_conversion_rate, round
        FROM exchange_rate_hist
        WHERE TRUNC(rate_date) = TO_DATE(#{inqDt}, 'YYYY-MM-DD')
          AND currency_code = #{currency}
        ORDER BY RATE_DATE DESC
    </select>




    <select id="getExchangeRateForLastSixMonths" resultType="com.kopo.hanaglobal.hana_global.web.dto.response.ExchangeRateHistDTO"
            parameterType="com.kopo.hanaglobal.hana_global.web.dto.request.CurrencyRequestDTO">
        SELECT currency_code, rate_date, buy_rate, sell_rate, remittance, receiving,
               base_rate, prev_rate, usd_conversion_rate
        FROM (
                 SELECT currency_code, rate_date, buy_rate, sell_rate, remittance, receiving,
                        base_rate, prev_rate, usd_conversion_rate,
                        ROW_NUMBER() OVER (PARTITION BY TRUNC(rate_date) ORDER BY rate_date DESC) as rn
                 FROM exchange_rate_hist
                 WHERE rate_date BETWEEN TO_DATE(#{startDate}, 'YYYY/MM/DD') AND TO_DATE(#{endDate}, 'YYYY/MM/DD HH24:MI:SS')
                   AND currency_code = #{currency}
             ) WHERE rn = 1
        ORDER BY rate_date ASC
    </select>

<!--    최신 환율 불러오기 -->
    <select id="getExchangeRateByCurrency" resultType="com.kopo.hanaglobal.hana_global.web.entity.ExchangeRate"
            parameterType="com.kopo.hanaglobal.hana_global.web.entity.ExchangeRate">
        SELECT currency_code, rate_date, buy_rate, sell_rate, remittance, receiving,
               base_rate, prev_rate, usd_conversion_rate
        FROM exchange_rate
        WHERE currency_code = #{currencyCode}
    </select>

    <select id="getExchangeRate" resultType="com.kopo.hanaglobal.hana_global.web.entity.ExchangeRate"
            parameterType="com.kopo.hanaglobal.hana_global.web.entity.ExchangeRate">
        SELECT currency_code, rate_date, buy_rate, sell_rate, remittance, receiving,
               base_rate, prev_rate, usd_conversion_rate
        FROM exchange_rate
    </select>

    <select id="getLowestBaseRateForDates" resultType="com.kopo.hanaglobal.hana_global.web.dto.response.ExchangeRateHistDTO"
            parameterType="com.kopo.hanaglobal.hana_global.web.dto.request.CurrencyRequestDTO">
        SELECT currency_code, rate_date, buy_rate, sell_rate, remittance, receiving,
               base_rate, prev_rate, usd_conversion_rate
        FROM (
                 SELECT currency_code, rate_date, buy_rate, sell_rate, remittance, receiving,
                        base_rate, prev_rate, usd_conversion_rate,
                        RANK() OVER (ORDER BY base_rate ASC) as ranking
                 FROM exchange_rate_hist
                 WHERE rate_date BETWEEN TO_DATE(#{startDate}, 'YYYY/MM/DD') AND TO_DATE(#{endDate}, 'YYYY/MM/DD')
                   AND currency_code = #{currency}
             )
        WHERE ranking = 1
            FETCH FIRST 1 ROWS ONLY
    </select>

</mapper>
