<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kopo.hanaglobal.hana_global.web.repository.MemberRepository">
    <select id="getMemberAll" resultType="com.kopo.hanaglobal.hana_global.web.entity.Member">
        SELECT *
        FROM member
    </select>
    <select id="findMemberById" resultType="com.kopo.hanaglobal.hana_global.web.entity.Member" parameterType="int">
        SELECT user_seq as userSeq, email, id, passwd, name, regist_no as registNo, signup_date as signupDate, country_sp as countrySP, nationality, birth_date as birthDate, gender, contact, ROAD_ADDRESS as roadAddress, JIBUN_ADDRESS as jibunAddress, status
        FROM member where user_seq = #{user_seq}
    </select>
    
    <select id="findUserSeqByID" resultType="com.kopo.hanaglobal.hana_global.web.entity.Member">
        SELECT user_seq as userSeq
        FROM member where id = #{id}
    </select>
    
    <select id="getAccountAll" resultType="com.kopo.hanaglobal.hana_global.web.entity.Account">
        SELECT *
        FROM CHECKING_ACCOUNT
    </select>
    <select id="signIn" resultType="com.kopo.hanaglobal.hana_global.web.entity.Member" parameterType="com.kopo.hanaglobal.hana_global.web.dto.request.LoginDTO">
        select * from member where id = #{id} and passwd = #{passwd}
    </select>

    <insert id="signUp" parameterType="com.kopo.hanaglobal.hana_global.web.entity.Member">
        INSERT INTO member (user_seq, email, id, passwd, name, regist_no, country_sp, nationality, birth_date, gender, contact, road_address, jibun_address, status)
        VALUES (MEMBER_SEQ.NEXTVAL, #{email}, #{id}, #{passwd}, #{name}, #{registNo}, #{countrySP}, #{nationality}, #{birthDate}, #{gender}, #{contact}, #{roadAddress}, #{jibunAddress}, #{status})
    </insert>

    <insert id="insertTemporaryMember" parameterType="com.kopo.hanaglobal.hana_global.web.dto.request.OpenAccountDTO">
        INSERT INTO member (user_seq, email, id, passwd, name,  country_sp, nationality, birth_date, gender, contact, jibun_address, status)
        VALUES (MEMBER_SEQ.NEXTVAL, #{email}, #{id}, #{passwd}, #{name},  #{countrySP}, #{nationality} ,#{birthDate}, 'M', #{contact}, #{jibunAddress}, 'N')
    </insert>
    <!-- <select id="findMemberByAcNo" resultType="com.kopo.hanaglobal.hana_global.web.entity.Member">
         select * from member where ac_no =
     </select>-->
</mapper>
