<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kopo.hanaglobal.hana_global.web.repository.TermsRepository">
    <select id="getTermsContent" resultType="com.kopo.hanaglobal.hana_global.web.entity.Account"
            parameterType="int">
        SELECT terms_seq, content,
        FROM CHECKING_ACCOUNT where user_seq = #{userSeq}
    </select>
</mapper>
