<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kopo.hanaglobal.hana_global.web.repository.WalletRepository">
<!--    계좌개설/회원가입 시 wallet 자동 생성-->
    <insert id="createNewWallet" parameterType="com.kopo.hanaglobal.hana_global.web.entity.Wallet">
        INSERT INTO HANA_WALLET(WALLET_SEQ, USER_SEQ as userSeq, AC_NO as acNo, WALLET_PW as walletPw)
        VALUES (HANA_WALLET_SEQ.NEXTVAL,  #{userSeq}, #{acNo}, #{walletPw})
    </insert>

    <select id="findWalletByMemberId" resultType="com.kopo.hanaglobal.hana_global.web.entity.Wallet"
            parameterType="int">
        SELECT wallet_seq as walletSeq, user_seq as userSeq, ac_no as acNo, wallet_pw as walletPw, balance, deposit, CURRENCY_CODE as currencyCode, currency, prime_rate as primeRate
        FROM HANA_WALLET where user_seq = #{userSeq}
        ORDER BY CASE WHEN currency_code = 'KRW' THEN 0 ELSE 1 END, currency_code
    </select>

    <select id="findWalletByAccountNo" resultType="com.kopo.hanaglobal.hana_global.web.entity.Wallet"
            parameterType="int">
        SELECT wallet_seq as walletSeq, user_seq as userSeq, ac_no as acNo, wallet_pw as walletPw, balance, deposit, CURRENCY_CODE as currencyCode, currency, prime_rate as primeRate
        FROM HANA_WALLET where ac_no = #{acNo}
    </select>

    <select id="findWalletByUserSeqAndCurrencyCode"
            resultType="com.kopo.hanaglobal.hana_global.web.entity.Wallet">
        SELECT wallet_seq as walletSeq, user_seq as userSeq, ac_no as acNo, wallet_pw as walletPw, balance, CURRENCY_CODE as currencyCode, currency, prime_rate as primeRate
        FROM HANA_WALLET where user_seq = #{userSeq} and currency_code = #{currencyCode}
    </select>

    <insert id="insertWithdrawWalletHist" parameterType="com.kopo.hanaglobal.hana_global.web.dto.response.WalletHistoryDTO">
        INSERT INTO HANA_WALLET_HIST(WALLET_TRANS_NO, WALLET_SEQ as walletSeq, balance,
                                     transaction_amount as transactionAmount, currency_code as currencyCode,
                                     currency, transaction_type as transactionType,
                                     withdraw_cur as withdrawCur, withdraw_name as withdrawName)
        VALUES (HANA_WALLET_HIST_SEQ.NEXTVAL, #{walletSeq}, #{balance}, #{transactionAmount},
                #{currencyCode}, #{currency}, #{transactionType}, #{withdrawCur}, #{withdrawName})
    </insert>

<!--    <insert id="insertDepositWalletHist" parameterType="com.kopo.hanaglobal.hana_global.web.dto.response.WalletHistoryDTO">-->
<!--        INSERT INTO HANA_WALLET_HIST(WALLET_TRANS_NO as walletTransNo, WALLET_SEQ as walletSeq, balance,-->
<!--                                     transaction_amount as transactionAmount, currency_code as currencyCode,-->
<!--                                     currency, transaction_type as transactionType,-->
<!--                                     deposit_cur as depositCur, deposit_name as depositName)-->
<!--        VALUES (HANA_WALLET_HIST_SEQ.NEXTVAL, #{walletSeq}, #{balance}, #{transactionAmount},-->
<!--                #{currencyCode}, #{currency}, #{transactionType}, #{depositCur}, #{depositName})-->
<!--    </insert>-->

    <insert id="insertDepositWalletHist" parameterType="com.kopo.hanaglobal.hana_global.web.dto.response.WalletHistoryDTO">
        INSERT INTO HANA_WALLET_HIST(WALLET_TRANS_NO, WALLET_SEQ, balance,
                                     transaction_amount, currency_code,
                                     currency, transaction_type,
                                     deposit_cur, deposit_name)
        VALUES (HANA_WALLET_HIST_SEQ.NEXTVAL, #{walletSeq}, #{balance}, #{transactionAmount},
                #{currencyCode}, #{currency}, #{transactionType}, #{depositCur}, #{depositName})
    </insert>

    <select id="getBalanceByWalletSeq" resultType="BigDecimal">
        SELECT balance
        FROM HANA_WALLET where wallet_seq = #{walletSeq}
    </select>

    <update id="addWalletBalance">
        UPDATE HANA_WALLET
        SET balance = balance + #{deposit}
        WHERE user_seq = #{userSeq} AND currency_code = #{currencyCode}
    </update>


</mapper>
