<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kopo.hanaglobal.hana_global.web.repository.WalletRepository">
<!--    계좌개설/회원가입 시 wallet 자동 생성-->
    <insert id="createNewWallet" parameterType="com.kopo.hanaglobal.hana_global.web.entity.Wallet">
        INSERT INTO HANA_WALLET(WALLET_SEQ, USER_SEQ as userSeq, AC_NO as acNo, WALLET_PW as walletPw)
        VALUES (HANA_WALLET_SEQ.NEXTVAL,  #{userSeq}, #{acNo}, #{walletPw})
    </insert>

<!--    월렛번호로 월렛 찾기-->
    <select id="findWalletByWalletNo" resultType="com.kopo.hanaglobal.hana_global.web.entity.Wallet"
            parameterType="int">
        SELECT wallet_seq as walletSeq, user_seq as userSeq, ac_no as acNo, wallet_pw as walletPw, balance, deposit, CURRENCY_CODE as currencyCode, currency, prime_rate as primeRate
        FROM HANA_WALLET where wallet_seq = #{walletSeq}
    </select>

    <select id="findWalletByMemberId" resultType="com.kopo.hanaglobal.hana_global.web.entity.Wallet"
            parameterType="int">
        SELECT wallet_seq as walletSeq, user_seq as userSeq, ac_no as acNo, wallet_pw as walletPw, balance, deposit, CURRENCY_CODE as currencyCode, currency, prime_rate as primeRate
        FROM HANA_WALLET where user_seq = #{userSeq}
        ORDER BY CASE WHEN currency_code = 'KRW' THEN 0 ELSE 1 END, currency_code
    </select>

    <select id="findWalletByAccountNo" resultType="com.kopo.hanaglobal.hana_global.web.entity.Wallet"
            parameterType="int">
        SELECT wallet_seq as walletSeq, user_seq as userSeq, ac_no as acNo, wallet_pw as walletPw, balance, deposit, CURRENCY_CODE as currencyCode, currency, prime_rate as primeRate
        FROM HANA_WALLET where ac_no = #{acNo}
    </select>

    <select id="findWalletByUserSeqAndCurrencyCode"
            resultType="com.kopo.hanaglobal.hana_global.web.entity.Wallet">
        SELECT wallet_seq as walletSeq, user_seq as userSeq, ac_no as acNo, wallet_pw as walletPw, balance, CURRENCY_CODE as currencyCode, currency, prime_rate as primeRate
        FROM HANA_WALLET where user_seq = #{userSeq} and currency_code = #{currencyCode}
    </select>

    <insert id="insertWithdrawWalletHist" parameterType="com.kopo.hanaglobal.hana_global.web.dto.response.WalletHistoryDTO">
        INSERT INTO HANA_WALLET_HIST(WALLET_TRANS_NO, WALLET_SEQ, balance, transaction_amount, transaction_type,
                                     withdraw_cur, withdraw_name)
        VALUES (HANA_WALLET_HIST_SEQ.NEXTVAL, #{walletSeq}, #{balance}, #{transactionAmount}, #{transactionType}, #{withdrawCur}, #{withdrawName})
    </insert>


    <insert id="insertDepositWalletHist" parameterType="com.kopo.hanaglobal.hana_global.web.dto.response.WalletHistoryDTO">
        INSERT INTO HANA_WALLET_HIST(WALLET_TRANS_NO, WALLET_SEQ, balance,
                                     transaction_amount, transaction_type,
                                     deposit_cur, deposit_name)
        VALUES (HANA_WALLET_HIST_SEQ.NEXTVAL, #{walletSeq}, #{balance}, #{transactionAmount}, #{transactionType}, #{depositCur}, #{depositName})
    </insert>

    <select id="getBalanceByWalletSeq" resultType="BigDecimal">
        SELECT balance FROM HANA_WALLET where wallet_seq = #{walletSeq}
    </select>

    <update id="addWalletBalance">
        UPDATE HANA_WALLET
        SET balance = balance + #{deposit}
        WHERE user_seq = #{userSeq} AND currency_code = #{currencyCode}
    </update>

    <update id="deductWalletBalance">
        UPDATE HANA_WALLET
        SET balance = balance - #{withdraw}
        WHERE user_seq = #{userSeq} AND currency_code = #{currencyCode}
    </update>

    <insert id="insertWalletNewCurrency" parameterType="com.kopo.hanaglobal.hana_global.web.dto.request.NewWalletCurrencyDTO">
        INSERT INTO HANA_WALLET(WALLET_SEQ, USER_SEQ, AC_NO, WALLET_PW, BALANCE, CURRENCY_CODE, CURRENCY, PRIME_RATE)
        VALUES (hana_wallet_seq.nextval, #{userSeq}, #{acNo}, #{walletPw}, #{balance}, #{currencyCode}, #{currency}, 100)
    </insert>

    <insert id="insertAutoExchange" parameterType="com.kopo.hanaglobal.hana_global.web.dto.request.AutoExchangeDTO">
        insert into auto_exchange (ae_seq, wallet_seq, base_cur_code, target_cur_code, exchange_amount, exchange_date, lower_bound)
        values (auto_exchange_seq.nextval, #{walletSeq}, 'KRW', #{targetCurCode}, #{exchangeAmount}, #{exchangeDate}, #{lowerBound})
    </insert>

    <select id="getAutoExchangeListByWalletSeq">
        SELECT AE.ae_seq, AE.wallet_seq, AE.base_cur_code, AE.target_cur_code, AE.exchange_amount, AE.exchange_date, AE.lower_bound
        FROM HANA_WALLET HW
                 JOIN AUTO_EXCHANGE AE ON HW.WALLET_SEQ = AE.WALLET_SEQ
        WHERE HW.USER_SEQ = #{userSeq}
    </select>
</mapper>
