.main-body {
    /*border: 1px solid black;*/
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-auto-rows: 0.1fr 0.1fr auto;
    row-gap: 30px;
    column-gap: 20px;
    /*grid-auto-flow: column;*/
}

h2 {
    font-size: calc(1.325rem + .9vw);
    grid-column: 1 / span 2; /* 2칸 영역 차지 */
    grid-row: 1;
}


.walletCell {
    grid-row: 2;
    position: relative;
    display: flex;
    border-radius: 18px;
    box-shadow: inset 0 0 10px #018085;
    /*background-color: aliceblue;*/
    /*background: linear-gradient(70deg, rgba(0, 255, 237, 0.4), rgba(0, 184, 186, 0.2));*/
    background-size:  auto;
    flex-direction: column;
    justify-content: space-around;
    max-width: 262px;
    min-height: 336px;
    max-height: 336px;
}
.walletCard{
    display: flex;
    flex-direction: column;
    height: 100%; /* 이 부분은 카드의 전체 높이를 사용하도록 설정합니다. */
    margin-top: 5%;
    margin-bottom: 5%;
}
.walletCell::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-image: url("/images/walletIcon.png");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 200px;
    opacity: 0.65;  /* 여기에서 이미지의 투명도를 조정합니다. */
    z-index: -1;  /* 그라데이션 아래에 이미지가 위치하도록 합니다. */
}

/* 카드 내부 시작-----------------*/
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: center; /* 내용을 수직 중앙에 정렬하고 싶다면 추가하세요. */
    /*height: 45%;*/
    padding-left: 10%;
    padding-right: 5%;
}
cardHeader h4{
    font-weight: 700;
    margin-right: 25px;
}

.loadBtn{
    margin-bottom: 30px;
    border-radius: 2rem;
    /*background: rgba(65, 243, 5, 0.3);*/
    box-shadow: inset 0 0 5px rgb(103, 231, 159);
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    background: white;
}
.cardHeader h5{
}
.cardHeader a{
    text-decoration: none;
    color: black;
}
.cardElem1{
    /*height: 33%;*/
    padding-left: 10%;
}
.cardElem1 a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: larger;
}

.cardElem2{
    height: 53%;
    padding-left: 10%;
    font-weight: 600;
    font-size: larger;
}
.cardElem2 a{
    text-decoration: none;
    color: black;
}

.cardElem3 {
    display: flex;
    z-index: 2;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
    /*margin-bottom: 1rem;*/
}
/* 이미지 회전 */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.rotating {
    animation: rotate 1s linear;
}
/* 카드 끝 ----------------------------*/

.btn_p a {
    text-decoration: none;
    color: #fff;
}
.btn_s a {
    text-decoration: none;
    color: #fff;
}

.btn_p {
    background-color: #018085;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    transition: background-color 0.3s;
    display: inline-block;
    width: 100px;
    text-align: center;
}

.btn_p:hover {
    background-color: #016f73;
}

.btnArea .btn_p {
    background-color: #018085;
}

.btn_s {
    display: flex;
    justify-content: center;
    background-color: #3FC1C9;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    border: none;
    /*cursor: pointer;*/
    transition: background-color 0.3s;
    width: 100px;
    text-align: center;
}

.btn_s:hover {
    background-color: #2fe4ef;
}

/* 카드 내부 끝-----------------*/

/* 사용자 정보 시작 --------------------------*/

.locRight {
    display: flex;
    justify-content: center;
    /*background-color: #3FC1C9;*/
    border-radius: 2rem;
    border: none;
    transition: background-color 0.3s ease-in-out;
    width: 70px;  /* 조금 넓게 변경 */
    align-items: center;
    cursor: pointer;  /* 변경 가능한 영역임을 암시 */
    margin-right: 5%;
    font-weight: 500;  /* 글자가 조금 더 도드라져 보이게 */
    border: 1px solid #3FC1C9;
}

/*.account {*/
/*    display: flex;*/
/*    margin-top: 2rem;*/
/*}*/

/*.accountWrap {*/
/*    width: 330px;*/
/*    height: 150px;*/
/*    border-radius: 2rem;*/
/*    background: linear-gradient(60deg, #0a3d62, #2c3e50); !* 세련된 다크톤으로 변경 *!*/
/*    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); !* 그림자를 약간 더 강조 *!*/
/*    border: 2px solid #273c75; !* 테두리 추가하여 입체감 강조 *!*/
/*    padding: 10px 20px;*/
/*}*/

/*.account-header {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    border-radius: 2rem;*/
/*    transition: background-color 0.3s ease-in-out;*/
/*    width: 150px;  !* 조금 넓게 변경 *!*/
/*    margin-left: 2%;  !* 좌측 마진 조절 *!*/
/*    color: white;*/
/*    padding-top: 5px;*/
/*    font-size: 18px;  !* 폰트 사이즈 변경 *!*/
/*}*/

/*.account-footer {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin-top: 1.5rem;  !* 조금 더 마진 추가 *!*/
/*}*/

/*.account-content {*/
/*    padding-left: 10%;*/
/*    padding-top: 20px;  !* 조금 더 패딩 추가 *!*/
/*}*/

/*.accountNo {*/
/*    display: inline-block;*/
/*    width: 120px;  !* 조금 넓게 변경 *!*/
/*    text-align: center;*/
/*    padding-left: 5%;  !* 패딩 조절 *!*/
/*    font-weight: 600;*/
/*    font-size: 18px;  !* 폰트 사이즈 변경 *!*/
/*}*/

/* 추가 및 수정된 스타일 */
.showBalance {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-rows: 0.5fr 1fr; /* 월렛 정보와 계좌 정보가 가로로 배치될 수 있도록 */
    column-gap: 20px;
}

.balanceInfo {
    display: grid;
    grid-template-rows: repeat(3, auto); /* 각 정보가 세로로 배치될 수 있도록 */
    row-gap: 10px;
}

.walletBalance, .usdBalance, .conversionOption {
    /*padding: 5px;*/
    /*border: 1px solid #eee; !* 각 영역을 명확하게 보여주기 위해 임시로 테두리 추가 *!*/
}

.col-md-4 {
    border-bottom: 1px solid rgba(1, 128, 133, 0.54);
    border-top: 1px solid rgba(1, 128, 133, 0.54);
    border-left: 1px solid rgba(1, 128, 133, 0.54);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    max-width: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 0 15px rgba(1, 128, 133, 0.1) inset; /* 입체감 부각 */
    /*background-color: rgba(255,204,92,0.8);*/
    background-color: #016f73;
    max-height: 210px;
}

/*오른쪽블럭*/
.col-md-8 {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 0 15px rgba(1, 128, 133, 0.1) inset; /* 입체감 부각 */
    max-height: 210px;
}

.account-image {
    display: grid;
    align-items: center;
    justify-content: center;
}

.myAccount {
    content: url("/images/mascort.png");
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left-card right-card";
}

.grid-right {
    display: grid;
    grid-area: right-card;
    margin-left: 12px;
}

.grid-left {
    display: grid;
    grid-area: left-card;
    grid-template-rows: 0.2fr 1fr;
}

.row {
    flex-wrap: nowrap;
    --bs-gutter-x: 0rem;
}

.pt-1 h5 {
text-align: right;
}

.text-bold {
font-weight: bold;
}

.mb-3 {
margin-bottom: 0px;
}

.card-body {
margin-top: 3%;
/*border: 1px solid brown;*/
    padding: 20px;
}

/* card 내부 요소들 */
.card h4,
.card h5,
.card p {
    margin: 10px 0;
    font-weight: bold;
    color: #333;
}

.card p {
    font-size: 18px;
    color: #666;
}

.col h6 span{
    line-height: 40px;
}

/* 사용자 정보 끝 -------------------------------*/


/*입력 폼 시작 -------------------------*/

.settingRecurring{
    grid-row: 3;
    grid-column: span 2;
}

input[type="password"]:focus, input[type="text"]:focus {
    border-color: #018085;  /* 표준색상에 맞게 변경 */
    box-shadow: 0 0 5px rgba(1, 128, 133, 0.3);
}

/* 테이블 스타일링 */
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
}
/* 금융 분위기에 맞는 입력 필드 스타일링 */
input[type="text"], select {
    padding: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    /*width: 100%;*/
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* 캘린더 버튼 스타일링 */
.btnArea img {
    margin-left: 10px;
    vertical-align: middle;
    cursor: pointer;
}

/* 숨겨진 custom 입력 필드 스타일링 */
#customInputContainer {
    margin-top: 10px;
}

/* 알림 메시지 스타일링 */
.btnArea p {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

/* 폼 전체에 대한 일관된 여백 및 패딩 */
.settingRecurring {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}
/* 입력 폼 끝 ---------------------*/


/* 제출 버튼 ----------------------*/
/* 확인 & 취소 */
.btn-area {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
}
.mb30 {
    /*margin-bottom: 30px;*/
}
.mt15 {
    margin-top: 35px;
}
/* 버튼 공통 */
.btn-pack, .btn-pack * {
    display: inline-block;
    overflow: visible;
    margin: 0;
    /*background: url(/img/common/etc/bg_btn/common.gif) no-repeat;*/
    white-space: nowrap;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
/* 확인 버튼 span */
.btn-pack.btn-type-3c{
    height: 34px;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    vertical-align: middle;
    margin-left: 40px;
    margin-right: 2px;
    background-color: #018085;
    border-radius: 20px;
    text-decoration: none;
    color: white; !important;
}
.btn-pack.btn-type-3c button{
    color: white; !important;
}
/* 취소 버튼 span */
.btn-pack.btn-type-3{
    height: 34px;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    vertical-align: middle;
}
/* 버튼 간격 */
.btn-pack.btn-type-3c button, .btn-pack.btn-type-3c input {
    min-width: 90px;
}
/* 하이퍼링크 스타일 삭제 */
.btn-pack.btn-type-3c a{
    text-decoration: none;
    color: #ffffff;
}

.btn-pack.btn-type-3 a {
    min-width: 63px;
    text-decoration: none;
    color: #000;
}