.main-body {
    /*border: 1px solid black;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 0.2fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 20px;
    max-height: 800px;
}

/*h2:nth-child(1) {}*/
h2 {
    font-size: calc(1.325rem + .9vw);
    grid-column: auto / span 3; /* 3칸 영역 차지 */
}
.walletCell {
    position: relative;
    display: flex;
    border-radius: 18px;
    box-shadow: inset 0 0 10px #018085;
    /*background-color: aliceblue;*/
    /*background: linear-gradient(70deg, rgba(0, 255, 237, 0.4), rgba(0, 184, 186, 0.2));*/
    background-size:  auto;
    flex-direction: column;
    justify-content: space-around;
}
.walletCard{
    display: flex;
    flex-direction: column;
    height: 100%; /* 이 부분은 카드의 전체 높이를 사용하도록 설정합니다. */
    margin-top: 5%;
    margin-bottom: 5%;
}
.walletCell::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/images/walletIcon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 200px;
    opacity: 0.35;  /* 여기에서 이미지의 투명도를 조정합니다. */
    z-index: -1;  /* 그라데이션 아래에 이미지가 위치하도록 합니다. */
}


/* 카드 내부 시작-----------------*/
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: center; /* 내용을 수직 중앙에 정렬하고 싶다면 추가하세요. */
    height: 45%;
    padding-left: 10%;
    padding-right: 5%;
}
cardHeader h4{
    font-weight: 700;
    margin-right: 25px;
}
span{
    margin-bottom: 30px;
    border-radius: 2rem;
    /*background: rgba(65, 243, 5, 0.3);*/
    box-shadow: inset 0 0 5px rgb(103, 231, 159);
    padding-right: 15px;
    padding-left: 15px;
}
.cardHeader h5{
}
.cardHeader a{
    text-decoration: none;
    color: black;
}
.cardElem1{
    height: 33%;
    padding-left: 10%;
}
.cardElem1 a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: larger;
}

.cardElem2{
    height: 33%;
    padding-left: 10%;
    font-weight: 600;
    font-size: larger;
}
.cardElem2 a{
    text-decoration: none;
    color: black;
}

.cardElem3 {
    display: flex;
    z-index: 2;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.btn_p a {
    text-decoration: none;
     color: #fff;
}
.btn_s a {
    text-decoration: none;
    color: #fff;
}

.btn_p {
    background-color: #018085;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    transition: background-color 0.3s;
     display: inline-block;
    width: 100px;
    text-align: center;
}

.btn_p:hover {
    background-color: #016f73;
}

.btnArea .btn_p {
    background-color: #018085;
}

.btn_s {
    display: flex;
    justify-content: center;
    background-color: #3FC1C9;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    border: none;
    /*cursor: pointer;*/
    transition: background-color 0.3s;
    width: 100px;
    text-align: center;
}

.btn_s:hover {
    background-color: #2fe4ef;
}

/* 카드 내부 끝-----------------*/

