.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    /*background-color: #f0f0f0*/
}
/* 통화선택, 결제방식 선택 시작*/
.selectCurAndPayment {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 450px;
    justify-content: space-between;
}
.countrySearch input[type="text"] {
    width: 20%;
    padding: 5px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #059196;
    background-color: #ffffff;
    color: #016f73;
    font-size: 16px;
    margin-bottom: 20px;
}

/* 넷플릭스 슬라이더 시작*/
.container {
    width: 100%; /* 혹은 필요한 너비를 설정 */
    max-width: 800px; /* 혹은 원하는 최대 너비를 설정 */
    margin: 0 auto; /* 가운데 정렬 */
    overflow: hidden; /* 내부 요소가 경계를 벗어나지 않도록 */
    position: relative; /* swiper-button의 위치를 조정하기 위해 */
    height: 100%;
}

.container p {
    font-size: 1.4rem;
    font-weight: 600;  /* Set font-weight to 700 for a bolder text */
}
.swiper-wrapper {
    position: inherit;
    width: 100%;
    height: auto;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    background-color: #f9f9f9; /* Light grey background */
    border: 1px solid #ddd; /* Border for each slide */
    border-radius: 10px; /* Rounded corners */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    height: 60%;
    top: 20%;
}

.swiper-slide img {
    border-radius: 5px;
    max-width: 200px;
    cursor: grab;
}

.swiper-slide img:active {
    cursor: grabbing;
}

.swiper-slide:hover {
    transform: scale(1.2);
    transition: all 300ms ease-in-out;
    transition-delay: 300ms;
    z-index: 1;
}

.swiper-slide:hover img {
    transition-delay: 300ms;
    /*box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);*/
}
.swiper-button-next, .swiper-button-prev {
    color: #e5e5e5;
    top: 62%
}
.swiper-pointer-events {
    touch-action: pan-y;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
@media screen and (max-width: 599px) {
    .swiper-slide img {
        max-width: 14rem;
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .swiper-slide img {
        max-width: 10.5rem;
        border-radius: 2px;
    }
}
/* 넷플릭스 슬라이더 끝 ------------------------------*/

/* 결제방식 선택 시작-----------------------------------*/
.selectPaymentWrapper {
    width: 100%;
    display: flex;
    justify-content: center; /* 박스 사이의 간격 설정 */
    gap: 20px
}

.selectAccount, .selectWesternUnion {
    background-color: #ffffff;
    border: 3px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; /* 선택 가능한 모양으로 변경 */
    width: 160px;
    height: 160px;
    justify-content: center;
}

.selectAccount:hover, .selectWesternUnion:hover {
    box-shadow: inset 0 0 10px #018085;
    /*border-radius: 4px;*/
    cursor: pointer; /* 선택 가능한 모양으로 변경 */
}
.paymentImage{
    width: 90px;
    height: 90px;
}
.paymentImage2{
    width: 75px;
    height: 75px;
    border-radius: 1rem;
    margin-bottom: 5px;
    margin-top: 11px;
}
.selectAccount p, .selectWesternUnion p {
    font-size: 14px;
    text-align: center;
}
.selectAccount span, .selectWesternUnion span {
    font-size: 16px;
    font-weight: bold;
    color: #018085;
}

.modalContainer {
    display: none;
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /*background-color: rgba(0,0,0,0.4);*/
    z-index: 9999;
}
.modal-header {
    display: grid;
    grid-template-columns: 1fr auto; /* 1fr for the header, auto for the close button */
    width: 100%;
    height: 90px;
}
/* Close Button */
.close {
    color: black;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 5px;
    margin-bottom: 25px;
    align-self: start;
}
.authenticateHeader {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;  /* Increase or decrease as required to adjust vertical position */
    margin-top: 15px;     /* Add this to move the Login text down a bit */
    color: #016f73; /* 진한 블루 */
}
/* Modal Content */
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*justify-content: center;*/
    border-radius: 15px;
    padding: 15px;
    min-width: 200px;
    max-width: 500px;
    min-height: 300px;
    margin: 10% auto;
    border: 5px solid #3FC1C9;
    background-color: #FFFFFF; /* 흰색 배경 */
    border: none; /* 테두리 제거 */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

.modal-header {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    color: #016f73; /* 진한 블루 */
    background-color: #FFFFFF; /* 흰색 배경 */
    padding-left: 20px;
}

.modal-main{
    display: grid;
    width: 100%;
    justify-content: center;
    height: 200px;
}
/* 결제방식 선택 끝* ======================================================/


/* 환율 보기 및 비용 계산 시작 =============================================*/
.compare_area {
    /*background-color: #ffffff;*/
    /*border: 1px solid #ddd;*/
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 650px;
    /*background-color: #f4f3ef;*/
    /*justify-content: space-between;*/
}
.compare_section{
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* selectbox 스타일링 */
.sbox .selectbox_label {
    background-color: #f5f5f5;
    border: 1px solid #ced4da; /* Bootstrap의 input border 색상과 동일 */
    border-radius: 0.25rem; /* Bootstrap의 input border-radius와 동일 */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* 부드러운 전환 효과 */
    padding-left: 10px;
    min-width: 250px;
    max-width: 250px;
}

.sbox .selectbox_label:hover {
    border-color: #adb5bd; /* 호버 시 border 색상 조절 */
}


.ch_wrap_ly {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */
}

.ly_cont li:hover {
    background-color: #f8f9fa; /* Bootstrap의 light grey */
}
input[type="text"] {
    width: 100%;
    min-width: 250px;
    max-width: 250px;
    padding: 5px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #059196;
    background-color: #ffffff;
    font-size: 16px;
}
/* input box 스타일링 */
.input_box input {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input_box input:focus {
    border-color: #adb5bd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Bootstrap의 primary 색상에 기반한 포커스 그림자 효과 */
}

.recite {
    font-size: 1rem;
    margin-left: 0.5rem;
    color: #495057; /* Bootstrap의 dark grey */
}

._i{
    list-style: none;
}

._i a {
    text-decoration: none;
    color: black;
}
.ico_same {
    display: flex; /* Flexbox를 사용하여 세로 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    max-height: 67px;
}
.equal_icon{
    width: 40px;
    height: 40px;
}
/* 환율 보기 및 비용 계산 끝 =============================================*/

/* 버튼 공통 */
.btn-area {
    position: relative;
    margin: 0;
    padding: 0;
    /*text-align: center;*/
    display: flex;
    justify-content: center;
}
.btn-pack, .btn-pack * {
    display: inline-block;
    overflow: visible;
    margin: 0;
    /*background: url(/img/common/etc/bg_btn/common.gif) no-repeat;*/
    white-space: nowrap;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* 확인 버튼 span */
.btn-area .btn-pack.btn-type-3c {
    height: 34px;
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    vertical-align: middle;
    /*margin-left: 40px;*/
    margin-right: 2px;
    background-color: #018085;
    border-radius: 5px;
    text-decoration: none;
    color: white; !important;
    padding: 0 10px 65px 10px;
}

.btn-area2 .btn-pack.btn-type-3c {
    height: 34px;
    font-weight: bold;
    font-size: 20px;
    /*line-height: 24px;*/
    vertical-align: middle;
    margin-left: 40px;
    margin-right: 2px;
    background-color: #018085;
    border-radius: 20px;
    text-decoration: none;
    color: white; !important;
    padding: 0;
}

.btn-pack.btn-type-3c button {
    color: white; !important;
}

/* 취소 버튼 span */
.btn-pack.btn-type-3 {
    height: 34px;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    vertical-align: middle;
}

/* 버튼 간격 */
.btn-pack.btn-type-3c button, .btn-pack.btn-type-3c input {
    min-width: 90px;
}

/* 하이퍼링크 스타일 삭제 */
.btn-pack.btn-type-3c a {
    text-decoration: none;
    color: #ffffff;
}

.btn-pack.btn-type-3 a {
    min-width: 63px;
    text-decoration: none;
    color: #000;
}

/* 수취인 정보 시작 ================================================*/
.recipientDiv {
    /*border-top: 1px solid black;*/
    /*border-bottom: 1px solid black;*/
    padding-bottom: 20px;
    border-radius: 8px;
    display: flex;
    /*flex-direction: column;*/
    /*align-items: center;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    /*background-color: #f4f3ef;*/
}

.table {
    /*--bs-table-bg: #f4f3ef;*/
}

tbody, td, tfoot, th, thead, tr {
     border-style: none;
}
.btn-area2 {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.recipientDiv input[type="text"] {
    width: 100%;
    min-width: 250px;
    max-width: 350px;
    padding: 5px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #059196;
    background-color: #ffffff;
    font-size: 16px;
}
/* input box 스타일링 */
.input_box input {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* 수취인 정보 끝 ================================================*/

/* 송금완료창 시작 ========================================================*/
.remittance-complete {
    /*border-top: 1px solid black;*/
    /*border-bottom: 1px solid black;*/
    /*padding-bottom: 20px;*/
    /*border-radius: 8px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    width: 100%;
    /*background-color: #f4f3ef;*/
}

.bg {
    background-color: #018085;
    /*width: 480px;*/
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 30px;
}

.card {
    background-color: white;
    width: 100%;
    float: left;
    margin-top: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 80px 30px 25px 30px;
    text-align: center;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card__success {
    position: absolute;
    top: -50px;
    left: 325px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #60c878;
    border: 5px solid white;
}

.card__success i {
    color: white;
    line-height: 100px;
    font-size: 45px;
}

/*.ion-checkmark:before {*/
/*    content: "\f121";*/
/*}*/

.card__msg {
    text-transform: uppercase;
    color: #55585b;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.card__submsg {
    color: #959a9e;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
}

.card__body {
    background-color: #f8f6f6;
    border-radius: 4px;
    width: 100%;
    margin-top: 30px;
    float: left;
    box-sizing: border-box;
    padding: 30px;
}

.card__avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 7px;
}

.card__recipient-info {
    display: inline-block;
}

.card__recipient {
    color: #232528;
    text-align: left;
    margin-bottom: 5px;
    font-weight: 600;
}

.card__email {
    color: #838890;
    text-align: left;
    margin-top: 0px;
}

.card__price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #232528;
    font-size: 20px;
    margin: 15px 0;
}

.card__price span {
    font-size: 100%;
    font-weight: 600;
}

.card__method {
    color: #d3cece;
    text-transform: uppercase;
    text-align: left;
    font-size: 15px;
    margin-bottom: 15px;
    height: 10px;
}

.card__payment {
    background-color: white;
    border-radius: 4px;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__credit-card {
    width: 50px;
    display: inline-block;
    margin-right: 15px;
}

.card__card-details {
    display: inline-block;
    text-align: left;
    margin-top: 15px;
}

.card__card-type {
    text-transform: uppercase;
    color: #232528;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 3px;
}

.card__card-number {
    color: #838890;
    font-size: 12px;
    margin-top: 0px;
}

.card__tags {
    clear: both;
    padding-top: 15px;
}

.card__tag {
    text-transform: uppercase;
    background-color: #f8f6f6;
    box-sizing: border-box;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 10px;
    color: #d3cece;
}

.remittanceTrace{
    border-radius: 2rem;
    padding: 10px;
    background-color: #018085;
    color: white;
    box-shadow: inset 0 0 10px;
    border: white;
}

.remittanceTrace:hover {
    background-color: #016c75;
}


/* 송금완료창 끝 ========================================================*/