.showRemittanceDetails {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 450px;
}


/* 모달창 css 시작 ===========================================*/
.modal-content {
    background-color: #f9f9f9; /* 모달 배경색 */
    border-radius: 8px; /* 모달 모서리 둥글게 */
}

.modal-header {
    background-color: #007BFF; /* 헤더 배경색 */
    color: white; /* 헤더 텍스트 색상 */
}

.modal-footer {
    background-color: #e9ecef; /* 푸터 배경색 */
}

.modal-body {
    padding: 20px; /* 본문 패딩 */
    font-size: 1rem; /* 폰트 크기 */
    line-height: 1.5; /* 라인 높이 */
}

.modal-details {
    margin-bottom: 10px; /* 상세 정보 마진 */
}

.btn-secondary {
    background-color: #007BFF; /* 버튼 색상 */
}

.modal-details-title {
    font-weight: bold; /* 상세 정보 제목 볼드 */
    margin-bottom: 5px; /* 상세 정보 제목 마진 */
}

.modal-details-content {
    margin-left: 10px; /* 상세 정보 내용 마진 */
}

/* 모달창 css 끝 ===========================================*/
