body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    font-family: "Pretendard-Regular", sans-serif;
}

.main-container {
    display: grid;
    grid-template-areas:
    "header"
    "main-area"
    "footer"
;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(-60deg, #67E6A2, #FFFFFF, #DEF4C6, #46E4D1);*/
    border-radius: 15px;
}

.main-area {
    grid-area: main-area;
    display: grid;
    min-height: 500px;
    max-height: 850px;
    margin-left: 15%;
    margin-right: 15%;
    column-gap: 40px;
}

.main-body{
    display: grid;
    align-items: center;
    justify-content: center;
}

.loginHeader {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;  /* Increase or decrease as required to adjust vertical position */
    margin-top: 15px;     /* Add this to move the Login text down a bit */
}
/* Modal Content */
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*justify-content: center;*/
    border-radius: 15px;
    padding: 15px;
    width: 30%; /* You can adjust this as per requirement */
    margin: 10% auto;
    border: 5px solid #3FC1C9;
    background-color: #f5f5f5; /* Adjust as per user-info */
}

.loginHeader {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 50px;
}

.loginInput {
    display: grid;
    align-items: center;
    gap: 10px;
    border-bottom: 10px solid #016f73;
    border-top: 10px solid #016f73;
    padding-top: 50px;
    padding-bottom: 50px;
}

.loginField {
    display: grid;
    grid-template-areas:
        "loginLabel1 loginInputField1 loginButton"
        "loginLabel2 loginInputField2 loginButton";
    grid-template-columns: 0.5fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 25px;
}

.loginLabel1, .loginLabel2{
    display: grid;
}

.loginInputField1, .loginInputField2 {
    display: grid;
}

.loginLabel1 {
    grid-area: loginLabel1;
}

.loginLabel2 {
    grid-area: loginLabel2;
}

.loginInputField1 {
    grid-area: loginInputField1;
}

.loginInputField2 {
    grid-area: loginInputField2;
}

.loginField label {
    font-weight: bold;
    color: #333;
    margin-right: 40px;
    font-size: x-large;
}

.loginField input {
    width: 250px;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s;
}

.loginField input:focus {
    border: 2px solid blue;
}

.loginButton {
    display: grid;
    grid-area: loginButton;
    margin-left: 50px;
}

.loginButton .loginBtn {
    border: none;
    color: white;
    background-color: #3FC1C9;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    text-decoration: none; /* For <a> tags */
    max-width: 150px;
}

.loginBtn:hover {
    background-color: #016f73;
}

.login-option{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.login-option a {
    color: #51cbce;
    font-size: 18px;
    font-weight: bold;
}