/* 메인 컨테이너--------------------------------------*/
body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    font-family: "Pretendard-Regular", sans-serif;
}

.main-container {
    display: grid;
    grid-template-areas:
    "header"
    "main-area"
    "footer"
;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    width: 100%;
    height: 100%;
     /*background: linear-gradient(-60deg, #67E6A2, #FFFFFF, #DEF4C6, #46E4D1);*/
    border-radius: 15px;
}

/* 본문 영역--------------------------------------*/
.main-area {
    display: grid;
    grid-area: main-area;
    grid-template-rows: 0.1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    column-gap: 40px;
}
.main-top{
    margin-top: 15px;
    margin-bottom: 10px;
}
.main-top h1{
    margin-top: 0px;
    margin-bottom: 15px;
}
.main-top h3{
    margin-top: 0px;
    margin-bottom: 7px;
}
/* 기능 메인 바디 */
.main-body{
    display: grid;
    max-height: 1000px;
    grid-template-areas:
    "main-left main-right";
    /*border: 1px solid black;*/
    column-gap: 20px;
}
/* main 구역 레이아웃 */
.main-left {
    display: grid;
    grid-area: main-left;
    grid-template-areas:
    "main-info main-info"
    "card1 card2";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.7fr 1fr;
    border-radius: 20px;
    row-gap: 20px;
    column-gap: 20px;
}

.main-right {
    display: grid;
    grid-area: main-right;
    grid-template-areas:
    "card3 card4"
    "main-info main-info";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.7fr;
    border-radius: 20px;
    row-gap: 20px;
    column-gap: 20px;
}

/* 본문 좌측--------------------------------------*/
.main-info {
    grid-area: main-info;
    position: relative;
    /* 배경 이미지와 텍스트를 겹치기 위해 relative 설정 */
    text-align: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 0 15px rgba(1, 128, 133, 0.1) inset; /* 입체감 부각 */
    border-radius: 20px;
    min-height: 290px;
}

.card {
    position: relative;
    width: 100%;
    /*height: 100%;*/
    overflow: hidden;
    display: grid;
    height: 380px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 0 15px rgba(1, 128, 133, 0.1) inset; /* 입체감 부각 */
    max-width: 295px;
    min-width: 295px;
}

.card a {
    text-decoration: none;
    /* 하이퍼링크 밑줄 제거 */
    color: inherit;
    /* 글자 색상을 상위 요소와 동일하게 설정 */
    font-size: 3rem;
}

.card1 {
    grid-area: card1;
    background-color: #016f73;
    /*background: linear-gradient( #FFC7C7, #8785A2);*/
    z-index: 2;
    border: 1px solid white;
    border-radius: 20px;
}

.card2 {
    grid-area: card2;
    /*background: linear-gradient( #E3FDFD, #71C9CE);*/
    z-index: 2;
    /* border: 3px solid #A084E8; */
    border: 1px solid #059196;
    border-radius: 20px;
}

.card3 {
    grid-area: card3;
    /*background: linear-gradient( #F9ED69, #B83B5E);*/
    background-color: #016f73;
    z-index: 2;
    border: 1px solid white;
    border-radius: 20px;
}

.card4 {
    grid-area: card4;
    /*background: linear-gradient( #AD8B73, #FFFBE9);*/
    z-index: 2;
    /* border: 3px solid #D5FFE4; */
    border: 1px solid #059196;
    border-radius: 20px;
}
.card-area{
    display: flex;
    flex-direction: column;
}

.card-image {
    /* 배경 이미지 설정 */
    background-size: 95%;
    /* 이미지가 div를 꽉 채우도록 설정 */
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    /* 위치를 상위 요소(main-info)에 상대적으로 배치 */
    z-index: 0;
    /* z-index를 0으로 설정하여 텍스트 아래에 위치시킴 */
    opacity: 0.8;
    background-repeat: no-repeat;
}

.card-image1 {
    background-image: url('../images/moneybox-table.png');
    background-color: transparent;
}

.card-image2 {
    background-size: 130%;
    background-image: url('../images/exchange2.png');
}

.card-image3 {
    background-image: url('../images/wallet2.png');
    background-size: 110%;
}

.card-image4 {
    background-image: url('../images/remittance.png');
}

.card-text-border {
    position: absolute;
    /* 위치를 상위 요소(main-info)에 상대적으로 배치 */
    top: 90%;
    /* 세로 중앙에 배치 */
    left: 50%;
    /* 가로 중앙에 배치 */
    transform: translate(-90%, -50%);
    /* 정확한 중앙 정렬을 위한 보정 */
    z-index: 1;
    /* z-index를 1로 설정하여 배경 이미지 위에 위치시킴 */
    /*color: aliceblue;*/
    /*text-shadow: 4px 3px black;*/
    color: black;
    /*border: 1px solid black;*/
    border-radius: 15px;
    background-color: #fffefea6;
    height: 45px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-text-area{
    left: 5%;
    z-index: 1;
    font-size: 0.5em;
    white-space: nowrap; /* 한 줄로 표시 */
    overflow: hidden; /* 텍스트가 박스 밖으로 나가지 않게 함 */
    text-align: left;
    max-width: 250px;
    width: 100%;
    padding-left: 35px;
    padding-top: 15px;
    color: black;
    /*text-shadow: 2px 2px 2px #000000;*/
}
.card-text-area .text-header{
    font-size: 0.7em;
}

.card-text{
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 0px;
}

.card1 .card-text-area, .card3 .card-text-area{
    color: white;
}

/* 본문 우측--------------------------------------*/



.main-image {
    background-image: url('../images/smile-person.jpg');
    /* 배경 이미지 설정 */
    background-size: cover;
    /* 이미지가 div를 꽉 채우도록 설정 */
    background-position: unset;
    /* 이미지를 중앙에 배치 */
    height: 100%;
    width: 100%;
    position: absolute;
    /* 위치를 상위 요소(main-info)에 상대적으로 배치 */
    z-index: 0;
    /* z-index를 0으로 설정하여 텍스트 아래에 위치시킴 */
    opacity: 0.75;
    border-radius: 20px;
}

.main-text {
    position: absolute;
    left: 5%;
    /* 가로 중앙에 배치 */
    transform: translate(-50%, -50%);
    /* 정확한 중앙 정렬을 위한 보정 */
    z-index: 1;
    /* z-index를 1로 설정하여 배경 이미지 위에 위치시킴 */
    font-size: 1.5em;

    animation: slideIn 1s linear forwards;
    opacity: 0; /* 애니메이션이 시작하기 전에 텍스트를 숨기기 */
    white-space: nowrap; /* 한 줄로 표시 */
    overflow: hidden; /* 텍스트가 박스 밖으로 나가지 않게 함 */
    text-align: left;
}

.user-image {
    background-image: url('https://img.freepik.com/free-photo/close-up-portrait-beautiful-young-brunette-woman_273609-37281.jpg?w=1060&t=st=1693132252~exp=1693132852~hmac=66052b02abd633e8ae20ad7226d3c9490ca8b78781cd828c7c49eca12b7dfdf3');
    /* 배경 이미지 설정 */
    background-size: cover;
    /* 이미지가 div를 꽉 채우도록 설정 */
    background-position: unset;
    /* 이미지를 중앙에 배치 */
    height: 100%;
    width: 100%;
    position: absolute;
    /* 위치를 상위 요소(main-info)에 상대적으로 배치 */
    z-index: 0;
    /* z-index를 0으로 설정하여 텍스트 아래에 위치시킴 */
    opacity: 0.75;
    border-radius: 20px;
}

.user-text {
    position: absolute;
    left: 55%;
    /* 가로 중앙에 배치 */
    /*transform: translate(-50%, -50%);*/
    /* 정확한 중앙 정렬을 위한 보정 */
    z-index: 1;
    /* z-index를 1로 설정하여 배경 이미지 위에 위치시킴 */
    font-size: 1.4em;
    /*animation: slideIn 2s linear forwards;*/
    /*opacity: 0; !* 애니메이션이 시작하기 전에 텍스트를 숨기기 *!*/
    /*white-space: nowrap; !* 한 줄로 표시 *!*/
    overflow: hidden; /* 텍스트가 박스 밖으로 나가지 않게 함 */
    text-align: right;
    padding-right: 30px;
}

/* 키 프레임 정의 */
@keyframes slideIn {
    0% {
        transform: translateX(-100%); /* 왼쪽에서 시작 */
        width: 100%; /* 텍스트의 최종 너비 */
    }
    100% {
        transform: translateX(0%); /* 오른쪽으로 이동 완료 */
        opacity: 1; /* 텍스트가 완전히 보이게 함 */
    }
}




.user-info {
    display: grid;
    grid-area: user-info;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 15px;
    width: 80%;
    margin: 0 auto;
    border: 5px solid #3FC1C9;
}

footer {
    grid-area: footer;
    height: 10vh;
    margin-left: 10%;
    margin-right: 10%;
}

a {
    text-decoration: none;
}


