.navbar {
    width: 200px;
    overflow: auto;
    text-align: center;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    /* margin-top: 200px;/ */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    min-height: 100%;
    font-family: "Hana-bold", sans-serif;
    font-size: 17px;
    align-items: flex-start;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    /* padding: 2em; */
    padding: 1rem 2rem;
    display: block;
    transition: all 0.3s ease;
}


.navbar ul li a:hover {
    background-color: #46E4D1;
    color: #fff;
}

.navbar ul li ul {
    position: relative;  /* Changed from absolute to relative */
    padding-left: 2rem;
}

.navbar ul li ul li a {
    padding: 1em 2em;
}

.navbar ul li ul li a:hover {
    background-color: #46E4D1;
}

.navbar ul li:hover ul {
    display: block;
}
