/* 메인 컨테이너--------------------------------------*/
body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    font-family: "Hana-medium", sans-serif;
}

.main-container {
    display: grid;
    grid-template-areas:
    "header"
    "main-area"
    "footer"
;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(-60deg, #67E6A2, #FFFFFF, #DEF4C6, #46E4D1);*/
    border-radius: 15px;
}



/* 본문 영역--------------------------------------*/
.main-area {
    grid-area: main-area;
    grid-template-columns: 0.5fr 2fr;
    display: grid;
    max-height: 850px;
    margin-left: 15%;
    margin-right: 15%;
    column-gap: 40px;
}
/* 기능 메인 바디 */
.main-body{
}